docker_image:                                # [os.environ.get("BUILD_PLATFORM", "").startswith("linux") or (os.environ.get("CONFIG_VERSION", "1") == "1" and linux)]
   - quay.io/condaforge/linux-anvil-comp7    # [os.environ.get("BUILD_PLATFORM") == "linux-64" or (os.environ.get("CONFIG_VERSION", "1") == "1" and linux64)]
   - quay.io/condaforge/linux-anvil-cos7-x86_64    # [linux64]
   - quay.io/condaforge/linux-anvil-ppc64le  # [os.environ.get("BUILD_PLATFORM") == "linux-ppc64le" or (os.environ.get("CONFIG_VERSION", "1") == "1" and ppc64le)]
 
   - quay.io/condaforge/linux-anvil-cuda:9.2        # [linux64 and (os.environ.get("BUILD_PLATFORM") == "linux-64" or os.environ.get("CONFIG_VERSION", "1") == "1")]
   - quay.io/condaforge/linux-anvil-cuda:10.0       # [linux64 and (os.environ.get("BUILD_PLATFORM") == "linux-64" or os.environ.get("CONFIG_VERSION", "1") == "1")]
   - quay.io/condaforge/linux-anvil-cuda:10.1       # [linux64 and (os.environ.get("BUILD_PLATFORM") == "linux-64" or os.environ.get("CONFIG_VERSION", "1") == "1")]
   - quay.io/condaforge/linux-anvil-cuda:10.2       # [linux64 and (os.environ.get("BUILD_PLATFORM") == "linux-64" or os.environ.get("CONFIG_VERSION", "1") == "1")]
   - quay.io/condaforge/linux-anvil-cuda:11.0       # [linux64 and (os.environ.get("BUILD_PLATFORM") == "linux-64" or os.environ.get("CONFIG_VERSION", "1") == "1")]
   - quay.io/condaforge/linux-anvil-cuda:11.1       # [linux64 and (os.environ.get("BUILD_PLATFORM") == "linux-64" or os.environ.get("CONFIG_VERSION", "1") == "1")]
   - quay.io/condaforge/linux-anvil-cuda:11.2       # [linux64 and (os.environ.get("BUILD_PLATFORM") == "linux-64" or os.environ.get("CONFIG_VERSION", "1") == "1")]

   # these two variants are needed for cuTENSOR support
   - quay.io/condaforge/linux-anvil-cos7-cuda:10.1  # [linux64 and (os.environ.get("BUILD_PLATFORM") == "linux-64" or os.environ.get("CONFIG_VERSION", "1") == "1")]
   - quay.io/condaforge/linux-anvil-cos7-cuda:10.2  # [linux64 and (os.environ.get("BUILD_PLATFORM") == "linux-64" or os.environ.get("CONFIG_VERSION", "1") == "1")]

c_compiler_version:     # [linux]
  - 7                   # [linux64 or aarch64]
  - 8                   # [ppc64le]
cxx_compiler_version:   # [linux]
  - 7                   # [linux64 or aarch64]
  - 8                   # [ppc64le]

cuda_compiler:   # [linux64 or win]
  - nvcc         # [linux64 or win]

cuda_compiler_version:
  - None                       # [linux64]
  - None                       # [linux64]
  - 9.2                        # [linux64]
  - 10.0                       # [linux64]
  - 10.1                       # [linux64]
  - 10.2                       # [linux64 or win]
  - 11.0                       # [linux64 or win]
  - 11.1                       # [linux64 or win]
  - 11.2                       # [linux64 or win]

  - 10.1                       # [linux64]
  - 10.2                       # [linux64 or win]

cudnn:
  - undefined                  # [linux64]
  - undefined                  # [linux64]
  - 7                          # [linux64]
  - 7                          # [linux64]
  - 7                          # [linux64]
  - 7                          # [linux64]  # CUDA 10.2
  - 8                          # [win]      # CUDA 10.2
  - 8                          # [linux64 or win]
  - 8                          # [linux64 or win]
  - 8                          # [linux64 or win]

  - 7                          # [linux64]
  - 8                          # [linux64 or win]

cdt_name:  # [linux]
  - cos6   # [linux64]
  - cos7   # [linux64]
  - cos7   # [linux and ppc64le]

  - cos6   # [linux64]
  - cos6   # [linux64]
  - cos6   # [linux64]
  - cos6   # [linux64]
  - cos7   # [linux64]
  - cos7   # [linux64]
  - cos7   # [linux64]

  - cos7   # [linux64]
  - cos7   # [linux64]
